.about-wrapper{
    width: 75%;
    margin: 0 auto;
    position: relative;
    margin-top: 120px;
}

.header-title{
    color: #2d9687;
    font-size: 7em;
    opacity: 0.7;
}

.about-content{
    position: absolute;
    top: 0;
    left: 40%;
    font-size: 1.2em;
    line-height: 30px;
    opacity: 0;
}

.underline{
    height: 10px;
    width: 0;
    background-color: #c22085;
}