.about-wrapper{
    width: 75%;
    margin: 0 auto;
    position: relative;
    margin-top: 150px;
}

.header-title{
    font-size: 1.3em;
    color: honeydew;
    text-align: center;
    font-family: 'Zen Kurenaido', sans-serif;
    letter-spacing: 5px;
    margin-left: 0;
}

.about-content{
    opacity: 0;
}

.first-section{
    font-size: 3em;
    text-align: center;
    padding: 0;
    margin: 0;
}

.sec-setion-wrapper{
    overflow: hidden;
}

.sec-section{
    font-size: 1.3em;
    color: rgb(218, 218, 218);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 35px;
    transform: translateY(110%);
    display: inline-block;
    transition: 1s;
}

.span1{
    color: #e2b8aa;
}