.all-project-wrapper{
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    display: inline-block;
    position: relative;
    text-align: center;
    height: auto;
 
    .all-pro-header-title{
        font-size: 1.5em;
        color: #e2b8aa;
        margin-bottom: 140px;
    }

    .all-project-content-wtrapper{
        width: 90%;
        height: 100%;
        margin: 0 auto;

      

        .project-cards-wrapper{
            height: 100%;


            .pro-titles{
                padding: 0;
                margin: 0;
                color: white;
                font-size: 9em;
                margin-bottom: 65px;
                position: relative;
                border:none;
                background-color: transparent;
            }

            .img{
                width: 25%;
                position: absolute;
                top: -10%;
                left: 37%;
                opacity: 0;
                transition: ease-in-out 0.3s;
                transform: translateY(30%);
            }

            .img2{
                width: 15%;
                left: 43%;
                top: -25%;
            }
            
            .img3{
                width: 28%;
                left: 38%;
            }
            
            .img4{
                width: 30%;
                left: 37%;
            }

            .img5{
                width: 27%;
                left: 37%;
            }

            .pico:hover .img1{
                opacity: 1;
                transform: translateY(0%);
            }
            
            .checker:hover .img2{
                opacity: 1;
                transform: translateY(0%);
            }
            
            .weather:hover .img3{
                opacity: 1;
                transform: translateY(0%);
            }
            
            .crypto:hover .img4{
                opacity: 1;
                transform: translateY(0%);
            }
            
            .life:hover .img5{
                opacity: 1;
                transform: translateY(0%);
            }
        }
        .project-cards-wrapper::-webkit-scrollbar {
            display: none;
          }
        
    }
}

.pre-container{
    overflow: hidden;
}

.first-div{
    background-color: #EBD6CE;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 300;
    display: inline-block;
    transform: translateX(-100%);
}


.second-div{
    background-color: #381515;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 300;
    display: inline-block;
    transform: translateX(-100%);
}





@media screen and(max-width: 468px) {
    .all-project-wrapper{
        .all-project-content-wtrapper{
            .project-cards-wrapper{
            .pro-titles{
                font-size: 3em;
            }
        }
        }
     
    }   
}














