.contact-wrapper{
    background-color: #0c0c0c;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .inner-content-wrapper{
        width: 70%;
        margin: 0 auto;
        height: 70%;
        text-align: center;

        .cta-text{
            width: 60%;
            text-align: center;
            margin: 0 auto;
            font-size: 1.2em;
            color: rgb(218, 218, 218);
            opacity: 0.6;
            font-family: Arial, Helvetica, sans-serif;
        }

        .my-email{
            font-size: 3em;
            color: white;
            margin: 70px 0;
            display: block;
            font-family: 'Archivo Black', sans-serif;
            text-decoration: none;

            .email-span{
                color: #e2b8aa;
                font-family: 'Archivo Black', sans-serif;
            }
        }

        .resume{
            color: #e2b8aa;
            border: 2px solid #e2b8aa;
            padding: 15px 25px;
            text-decoration: none;
            position: absolute;
            text-align: center;
            left: 45%;
            transition: 400ms;

            &:hover{
                background-color: #e2b8aa;
                color: #0c0c0c;
            }
        }
    }

    .socials-wrapper{
        color: white;
        text-align: center;

        .socials-title{
            letter-spacing: 4px;
        }

        .contact-social{
            color: white;
            margin: 0 15px;
            transition: 400ms;

            &:hover{
                color: #e2b8aa;
            }
        }
        
    }

}


@media screen and(max-width: 468px){
    .contact-wrapper{
        .inner-content-wrapper{
            width: 90%;
            .cta-text{
                width: 100%;
            }

            .my-email{
                font-size: 1.3em;
            }

            .resume{
                left: 30%;
            
            }
        }

     
    }
}