nav{
    height: 70px;
    color: #e2b8aa;
    position: fixed;
    width: 100%;
    background-color: #0c0c0c;
    background: rgba(12, 12, 12, 0.6);
    z-index: 300;

    .nav-content-wrapper{
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo{
            margin: 0;
            padding: 0;
            font-size: 1.4em;
            text-decoration: none;
            color: #e2b8aa;
            font-family: 'Righteous', cursive;
            border: 2px solid gray;
            padding: 0 10px;
            transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);

            &:hover{
                color: gray;
                border: 2px solid #e2b8aa;
            }
        }

        


    .menuHamburger{
        transition: 300ms;
        cursor: pointer;
        padding: 4px 6px;

        &:hover{
            color: #0c0c0c;
            background-color: #e2b8aa;
            border-radius: 100%;
            
        }
    }
        
    }

}






